.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    justify-content: space-between;
  }
  
  .collapsible:hover, .collapsible.active {
    background-color: #ccc;
  }
  
  .content {
    padding: 0px 18px;
    background-color: var(--colorBrightGrey);
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s linear;
    width: 100%;
    color: var(--colorLightPink);
    cursor: pointer;
  }
  
  

  .collapsible-container {
    position: relative;
    display: inline-block; 
}

/* ... existing styles ... */

.collapsible.bordered {
  border-radius: 10px;  /* Set border-radius on all sides */
}

.collapsible.bordered.active {
  border-bottom-left-radius: 0;  /* Remove bottom-left border-radius */
  border-bottom-right-radius: 0; /* Remove bottom-right border-radius */
  border-bottom: 1px solid var(--colorLightDark); 
}

.content.bordered {
   /* Add a line to separate the collapsible from the content */
  border-bottom-left-radius: 10px;  /* Set bottom-left border-radius */
  border-bottom-right-radius: 10px; /* Set bottom-right border-radius */
}

.rightHC svg {
  fill: var(--colorLightPink);
  height: 20px;
}


/* First collapsible: Top left and right border-radius */
.collapsible-container:first-child .collapsible {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Last collapsible: Bottom left and right border-radius */
.collapsible-container:last-child .collapsible {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Middle collapsibles: No border-radius */
.collapsible-container:not(:first-child):not(:last-child) .collapsible {
  border-radius: 0;
}


  