* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --colorLightDark: #27262c;
  --colorDarkBg: #323035;
  --colorWhite: #fff;
  --colorBrown: #cda16f;
  --colorPink: #F11A7B;
  --colorSuccess: #31d0aa;
  --colorBrightGrey: #372f47;
  --colorBrownLight: #afafaf;
  --colorLightPink: #f4eeff;
}

.flex {
  display: flex;
  align-items: center;
}

.mb2 {
  margin-bottom: 20px;
}