* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --colorLightDark: #27262c;
  --colorDarkBg: #323035;
  --colorWhite: #fff;
  --colorBrown: #cda16f;
  --colorPink: #F11A7B;
  --colorSuccess: #31d0aa;
  --colorBrightGrey: #372f47;
  --colorBrownLight: #afafaf;
  --colorLightPink: #f4eeff;
  --colorPrimary1: #1e1d20;
  --colorPrimary2: #8b8b8b1a;
  --colorPrimary3: #666171;
  --colorPrimary4: #3c3742;
}

.flex {
  display: flex;
  align-items: center;
}

.mb2 {
  margin-bottom: 20px;
}

.column {
  flex-direction: column;
}

.gp30 {
  gap: 40px;
}

.between {
  justify-content: space-between;
  gap: 30px;
}

.end {
  align-self: flex-end;
}

.gp30 {
  gap: 30px;
}
.gp20 {
  gap: 20px;
}
.gp10 {
  gap: 10px;
}

.w100 {
  width: 100%;
}